@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,500,800,800i,900,900i&displa{y=swap");
.emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background: #ffda6a;
  border-radius: 50%;
  position: relative;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.emoji:after {
  position: absolute;
  bottom: -40px;
  font-size: 18px;
  width: 60px;
  left: calc(50% - 30px);
  color: #8a8a8a;
}

.emoji__face,
.emoji__eyebrows,
.emoji__eyes,
.emoji__mouth,
.emoji__tongue,
.emoji__heart,
.emoji__hand,
.emoji__thumb {
  position: absolute;
}

.emoji__face:before, .emoji__face:after,
.emoji__eyebrows:before,
.emoji__eyebrows:after,
.emoji__eyes:before,
.emoji__eyes:after,
.emoji__mouth:before,
.emoji__mouth:after,
.emoji__tongue:before,
.emoji__tongue:after,
.emoji__heart:before,
.emoji__heart:after,
.emoji__hand:before,
.emoji__hand:after,
.emoji__thumb:before,
.emoji__thumb:after {
  position: absolute;
  content: "";
}

.emoji__face {
  width: inherit;
  height: inherit;
}

.emoji--like {
  background: #548dff;
}

.emoji--like .emoji__hand {
  left: 25px;
  bottom: 30px;
  width: 20px;
  height: 40px;
  background: #ffffff;
  border-radius: 5px;
  z-index: 0;
  -webkit-animation: hands-up 2s linear infinite;
          animation: hands-up 2s linear infinite;
}

.emoji--like .emoji__hand:before {
  left: 25px;
  bottom: 5px;
  width: 40px;
  background: inherit;
  height: 10px;
  border-radius: 2px 10px 10px 2px;
  -webkit-box-shadow: 1px -9px 0 1px #ffffff, 2px -19px 0 2px #ffffff, 3px -29px 0 3px #ffffff;
          box-shadow: 1px -9px 0 1px #ffffff, 2px -19px 0 2px #ffffff, 3px -29px 0 3px #ffffff;
}

.emoji--like .emoji__thumb {
  border-bottom: 20px solid #ffffff;
  border-left: 20px solid transparent;
  top: -25px;
  right: -25px;
  z-index: 2;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-animation: thumbs-up 2s linear infinite;
          animation: thumbs-up 2s linear infinite;
}

.emoji--like .emoji__thumb:before {
  border-radius: 50% 50% 0 0;
  background: #ffffff;
  width: 10px;
  height: 12px;
  left: -10px;
  top: -8px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-box-shadow: -1px 4px 0 -1px #ffffff;
          box-shadow: -1px 4px 0 -1px #ffffff;
}

.emoji--love {
  background: #f55064;
}

.emoji--love .emoji__heart {
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  -webkit-animation: heart-beat 1s linear infinite alternate;
          animation: heart-beat 1s linear infinite alternate;
}

.emoji--love .emoji__heart:before, .emoji--love .emoji__heart:after {
  left: calc(50% - 20px);
  top: calc(50% - 32px);
  width: 40px;
  height: 64px;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
}

.emoji--love .emoji__heart:before {
  -webkit-transform: translate(20px) rotate(-45deg);
          transform: translate(20px) rotate(-45deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.emoji--love .emoji__heart:after {
  -webkit-transform: translate(-20px) rotate(45deg);
          transform: translate(-20px) rotate(45deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.emoji--haha .emoji__face {
  -webkit-animation: haha-face 2s linear infinite;
          animation: haha-face 2s linear infinite;
}

.emoji--haha .emoji__eyes {
  width: 26px;
  height: 6px;
  border-radius: 2px;
  left: calc(50% - 13px);
  top: 35px;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  background: transparent;
  -webkit-box-shadow: -25px 5px 0 0 #000000, 25px -5px 0 0 #000000;
          box-shadow: -25px 5px 0 0 #000000, 25px -5px 0 0 #000000;
}

.emoji--haha .emoji__eyes:after {
  left: 0;
  top: 0;
  width: 26px;
  height: 6px;
  border-radius: 2px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  background: transparent;
  -webkit-box-shadow: -25px -5px 0 0 #000000, 25px 5px 0 0 #000000;
          box-shadow: -25px -5px 0 0 #000000, 25px 5px 0 0 #000000;
}

.emoji--haha .emoji__mouth {
  width: 80px;
  height: 40px;
  left: calc(50% - 40px);
  top: 50%;
  background: #000000;
  border-radius: 0 0 40px 40px;
  overflow: hidden;
  z-index: 1;
  -webkit-animation: haha-mouth 2s linear infinite;
          animation: haha-mouth 2s linear infinite;
}

.emoji--haha .emoji__tongue {
  width: 70px;
  height: 30px;
  background: #fff;
  left: calc(50% - 35px);
  bottom: -10px;
  border-radius: 50%;
}

.emoji--yay:after {
  -webkit-animation: yay-reverse 1s linear infinite;
          animation: yay-reverse 1s linear infinite;
}

.emoji--yay .emoji__face {
  -webkit-animation: yay 1s linear infinite alternate;
          animation: yay 1s linear infinite alternate;
}

.emoji--yay .emoji__eyebrows {
  left: calc(50% - 3px);
  top: 30px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: -6px 0 0 0 #000000, -36px 0 0 0px #000000, 6px 0 0 0 #000000, 36px 0 0 0px #000000;
          box-shadow: -6px 0 0 0 #000000, -36px 0 0 0px #000000, 6px 0 0 0 #000000, 36px 0 0 0px #000000;
}

.emoji--yay .emoji__eyebrows:before, .emoji--yay .emoji__eyebrows:after {
  width: 36px;
  height: 18px;
  border-radius: 60px 60px 0 0;
  background: transparent;
  border: 6px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 0;
  bottom: 3px;
  left: calc(50% - 18px);
}

.emoji--yay .emoji__eyebrows:before {
  margin-left: -21px;
}

.emoji--yay .emoji__eyebrows:after {
  margin-left: 21px;
}

.emoji--yay .emoji__mouth {
  top: 60px;
  background: transparent;
  left: 50%;
}

.emoji--yay .emoji__mouth:after {
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
  top: -75px;
  border-radius: 50%;
  background: transparent;
  border: 6px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 1;
}

.emoji--yay .emoji__mouth:before {
  width: 6px;
  height: 6px;
  background: transparent;
  border-radius: 50%;
  bottom: 5px;
  left: calc(50% - 3px);
  -webkit-box-shadow: -25px 0 0 0 #000000, 25px 0 0 0 #000000, -35px -2px 30px 10px #d5234c, 35px -2px 30px 10px #d5234c;
          box-shadow: -25px 0 0 0 #000000, 25px 0 0 0 #000000, -35px -2px 30px 10px #d5234c, 35px -2px 30px 10px #d5234c;
}

.emoji--wow .emoji__face {
  -webkit-animation: wow-face 3s linear infinite;
          animation: wow-face 3s linear infinite;
}

.emoji--wow .emoji__eyebrows {
  left: calc(50% - 3px);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: -18px 0 0 0 #000000, -33px 0 0 0 #000000, 18px 0 0 0 #000000, 33px 0 0 0 #000000;
          box-shadow: -18px 0 0 0 #000000, -33px 0 0 0 #000000, 18px 0 0 0 #000000, 33px 0 0 0 #000000;
  -webkit-animation: wow-brow 3s linear infinite;
          animation: wow-brow 3s linear infinite;
}

.emoji--wow .emoji__eyebrows:before, .emoji--wow .emoji__eyebrows:after {
  width: 24px;
  height: 20px;
  border: 6px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: -3px;
  left: calc(50% - 12px);
}

.emoji--wow .emoji__eyebrows:before {
  margin-left: -25px;
}

.emoji--wow .emoji__eyebrows:after {
  margin-left: 25px;
}

.emoji--wow .emoji__eyes {
  width: 16px;
  height: 24px;
  left: calc(50% - 8px);
  top: 35px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 25px 0 0 0 #000000, -25px 0 0 0 #000000;
          box-shadow: 25px 0 0 0 #000000, -25px 0 0 0 #000000;
}

.emoji--wow .emoji__mouth {
  width: 30px;
  height: 45px;
  left: calc(50% - 15px);
  top: 50%;
  border-radius: 50%;
  background: #000000;
  -webkit-animation: wow-mouth 3s linear infinite;
          animation: wow-mouth 3s linear infinite;
}

.emoji--sad .emoji__face {
  -webkit-animation: sad-face 2s ease-in infinite;
          animation: sad-face 2s ease-in infinite;
}

.emoji--sad .emoji__eyebrows {
  left: calc(50% - 3px);
  top: 35px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: -40px 9px 0 0 #000000, -25px 0 0 0 #000000, 25px 0 0 0 #000000, 40px 9px 0 0 #000000;
          box-shadow: -40px 9px 0 0 #000000, -25px 0 0 0 #000000, 25px 0 0 0 #000000, 40px 9px 0 0 #000000;
}

.emoji--sad .emoji__eyebrows:before, .emoji--sad .emoji__eyebrows:after {
  width: 30px;
  height: 20px;
  border: 6px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: 2px;
  left: calc(50% - 15px);
}

.emoji--sad .emoji__eyebrows:before {
  margin-left: -30px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.emoji--sad .emoji__eyebrows:after {
  margin-left: 30px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.emoji--sad .emoji__eyes {
  width: 14px;
  height: 16px;
  left: calc(50% - 7px);
  top: 50px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 25px 0 0 0 #000000, -25px 0 0 0 #000000;
          box-shadow: 25px 0 0 0 #000000, -25px 0 0 0 #000000;
}

.emoji--sad .emoji__eyes:after {
  background: #548dff;
  width: 12px;
  height: 12px;
  margin-left: 6px;
  border-radius: 0 100% 40% 50% / 0 50% 40% 100%;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: tear-drop 2s ease-in infinite;
          animation: tear-drop 2s ease-in infinite;
}

.emoji--sad .emoji__mouth {
  width: 60px;
  height: 80px;
  left: calc(50% - 30px);
  top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 6px solid #000000;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  background: transparent;
  -webkit-animation: sad-mouth 2s ease-in infinite;
          animation: sad-mouth 2s ease-in infinite;
}

.emoji--sad .emoji__mouth:after {
  width: 6px;
  height: 6px;
  background: transparent;
  border-radius: 50%;
  top: 4px;
  left: calc(50% - 3px);
  -webkit-box-shadow: -18px 0 0 0 #000000, 18px 0 0 0 #000000;
          box-shadow: -18px 0 0 0 #000000, 18px 0 0 0 #000000;
}

.emoji--angry {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-10%, #d5234c), to(#ffda6a));
  background: linear-gradient(#d5234c -10%, #ffda6a);
  background-size: 100%;
  -webkit-animation: angry-color 2s ease-in infinite;
          animation: angry-color 2s ease-in infinite;
}

.emoji--angry .emoji__face {
  -webkit-animation: angry-face 2s ease-in infinite;
          animation: angry-face 2s ease-in infinite;
}

.emoji--angry .emoji__eyebrows {
  left: calc(50% - 3px);
  top: 55px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: -44px 5px 0 0 #000000, -7px 16px 0 0 #000000, 7px 16px 0 0 #000000, 44px 5px 0 0 #000000;
          box-shadow: -44px 5px 0 0 #000000, -7px 16px 0 0 #000000, 7px 16px 0 0 #000000, 44px 5px 0 0 #000000;
}

.emoji--angry .emoji__eyebrows:before, .emoji--angry .emoji__eyebrows:after {
  width: 50px;
  height: 20px;
  border: 6px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  top: 0;
  left: calc(50% - 25px);
}

.emoji--angry .emoji__eyebrows:before {
  margin-left: -25px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.emoji--angry .emoji__eyebrows:after {
  margin-left: 25px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.emoji--angry .emoji__eyes {
  width: 12px;
  height: 12px;
  left: calc(50% - 6px);
  top: 70px;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 25px 0 0 0 #000000, -25px 0 0 0 #000000;
          box-shadow: 25px 0 0 0 #000000, -25px 0 0 0 #000000;
}

.emoji--angry .emoji__mouth {
  width: 36px;
  height: 18px;
  left: calc(50% - 18px);
  bottom: 15px;
  background: #000000;
  border-radius: 50%;
  -webkit-animation: angry-mouth 2s ease-in infinite;
          animation: angry-mouth 2s ease-in infinite;
}

@-webkit-keyframes heart-beat {
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@keyframes heart-beat {
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@-webkit-keyframes haha-face {
  10%,
  30%,
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  20%,
  40% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  60%,
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70%,
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes haha-face {
  10%,
  30%,
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  20%,
  40% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  60%,
  80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  70%,
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes haha-mouth {
  10%,
  30%,
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    top: 45%;
  }
  20%,
  40% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    top: 45%;
  }
  60%,
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 50%;
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    top: 50%;
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    top: 50%;
  }
}

@keyframes haha-mouth {
  10%,
  30%,
  50% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    top: 45%;
  }
  20%,
  40% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    top: 45%;
  }
  60%,
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 50%;
  }
  70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    top: 50%;
  }
  90% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    top: 50%;
  }
}

@-webkit-keyframes yay {
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes yay {
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@-webkit-keyframes wow-face {
  15%,
  25% {
    -webkit-transform: rotate(20deg) translateX(-25px);
            transform: rotate(20deg) translateX(-25px);
  }
  45%,
  65% {
    -webkit-transform: rotate(-20deg) translateX(25px);
            transform: rotate(-20deg) translateX(25px);
  }
  75%,
  100% {
    -webkit-transform: rotate(0deg) translateX(0);
            transform: rotate(0deg) translateX(0);
  }
}

@keyframes wow-face {
  15%,
  25% {
    -webkit-transform: rotate(20deg) translateX(-25px);
            transform: rotate(20deg) translateX(-25px);
  }
  45%,
  65% {
    -webkit-transform: rotate(-20deg) translateX(25px);
            transform: rotate(-20deg) translateX(25px);
  }
  75%,
  100% {
    -webkit-transform: rotate(0deg) translateX(0);
            transform: rotate(0deg) translateX(0);
  }
}

@-webkit-keyframes wow-brow {
  15%,
  65% {
    top: 25px;
  }
  75%,
  100%,
  0% {
    top: 15px;
  }
}

@keyframes wow-brow {
  15%,
  65% {
    top: 25px;
  }
  75%,
  100%,
  0% {
    top: 15px;
  }
}

@-webkit-keyframes wow-mouth {
  10%,
  30% {
    width: 20px;
    height: 20px;
    left: calc(50% - 10px);
  }
  50%,
  70% {
    width: 30px;
    height: 40px;
    left: calc(50% - 15px);
  }
  75%,
  100% {
    height: 50px;
  }
}

@keyframes wow-mouth {
  10%,
  30% {
    width: 20px;
    height: 20px;
    left: calc(50% - 10px);
  }
  50%,
  70% {
    width: 30px;
    height: 40px;
    left: calc(50% - 15px);
  }
  75%,
  100% {
    height: 50px;
  }
}

@-webkit-keyframes sad-face {
  25%,
  35% {
    top: -15px;
  }
  55%,
  95% {
    top: 10px;
  }
  100%,
  0% {
    top: 0;
  }
}

@keyframes sad-face {
  25%,
  35% {
    top: -15px;
  }
  55%,
  95% {
    top: 10px;
  }
  100%,
  0% {
    top: 0;
  }
}

@-webkit-keyframes sad-mouth {
  25%,
  35% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    top: 70px;
  }
  55%,
  100%,
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 80px;
  }
}

@keyframes sad-mouth {
  25%,
  35% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    top: 70px;
  }
  55%,
  100%,
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    top: 80px;
  }
}

@-webkit-keyframes tear-drop {
  0%,
  100% {
    display: block;
    left: 35px;
    top: 15px;
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
  25% {
    display: block;
    left: 35px;
    -webkit-transform: rotate(45deg) scale(2);
            transform: rotate(45deg) scale(2);
  }
  49.9% {
    display: block;
    left: 35px;
    top: 65px;
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
  50% {
    display: block;
    left: -35px;
    top: 15px;
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
  75% {
    display: block;
    left: -35px;
    -webkit-transform: rotate(45deg) scale(2);
            transform: rotate(45deg) scale(2);
  }
  99.9% {
    display: block;
    left: -35px;
    top: 65px;
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
}

@keyframes tear-drop {
  0%,
  100% {
    display: block;
    left: 35px;
    top: 15px;
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
  25% {
    display: block;
    left: 35px;
    -webkit-transform: rotate(45deg) scale(2);
            transform: rotate(45deg) scale(2);
  }
  49.9% {
    display: block;
    left: 35px;
    top: 65px;
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
  50% {
    display: block;
    left: -35px;
    top: 15px;
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
  75% {
    display: block;
    left: -35px;
    -webkit-transform: rotate(45deg) scale(2);
            transform: rotate(45deg) scale(2);
  }
  99.9% {
    display: block;
    left: -35px;
    top: 65px;
    -webkit-transform: rotate(45deg) scale(0);
            transform: rotate(45deg) scale(0);
  }
}

@-webkit-keyframes hands-up {
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg) translateY(-10px);
            transform: rotate(-15deg) translateY(-10px);
  }
  75%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes hands-up {
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg) translateY(-10px);
            transform: rotate(-15deg) translateY(-10px);
  }
  75%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes thumbs-up {
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@keyframes thumbs-up {
  25% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}

@-webkit-keyframes angry-color {
  45%,
  60% {
    background-size: 250%;
  }
  85%,
  100%,
  0% {
    background-size: 100%;
  }
}

@keyframes angry-color {
  45%,
  60% {
    background-size: 250%;
  }
  85%,
  100%,
  0% {
    background-size: 100%;
  }
}

@-webkit-keyframes angry-face {
  35%,
  60% {
    -webkit-transform: translateX(0) translateY(10px) scale(0.9);
            transform: translateX(0) translateY(10px) scale(0.9);
  }
  40%,
  50% {
    -webkit-transform: translateX(-5px) translateY(10px) scale(0.9);
            transform: translateX(-5px) translateY(10px) scale(0.9);
  }
  45%,
  55% {
    -webkit-transform: translateX(5px) translateY(10px) scale(0.9);
            transform: translateX(5px) translateY(10px) scale(0.9);
  }
}

@keyframes angry-face {
  35%,
  60% {
    -webkit-transform: translateX(0) translateY(10px) scale(0.9);
            transform: translateX(0) translateY(10px) scale(0.9);
  }
  40%,
  50% {
    -webkit-transform: translateX(-5px) translateY(10px) scale(0.9);
            transform: translateX(-5px) translateY(10px) scale(0.9);
  }
  45%,
  55% {
    -webkit-transform: translateX(5px) translateY(10px) scale(0.9);
            transform: translateX(5px) translateY(10px) scale(0.9);
  }
}

@-webkit-keyframes angry-mouth {
  25%,
  50% {
    height: 6px;
    bottom: 25px;
  }
}

@keyframes angry-mouth {
  25%,
  50% {
    height: 6px;
    bottom: 25px;
  }
}

@-webkit-keyframes wave {
  0%,
  60%,
  100% {
    -webkit-transform: initial;
            transform: initial;
  }
  30% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes wave {
  0%,
  60%,
  100% {
    -webkit-transform: initial;
            transform: initial;
  }
  30% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

body {
  margin: 0;
  background-color: #ecedf1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Montserrat", sans-serif;
  font-smooth: auto;
}

.slick-prev,
.slick-next {
  border: 2px solid #0407f2 !important;
  padding: 1em !important;
  bottom: 30px !important;
  width: 50px !important;
  height: 50px !important;
  top: auto !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0407f2 !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -12px auto 0 15px !important;
}

.slick-prev {
  right: 95px !important;
  left: auto !important;
  z-index: 99;
  background: #0407f2;
}

.slick-prev:before {
  content: "‹" !important;
}

.slick-next {
  right: 35px !important;
  left: auto !important;
  padding: 0.5em;
  border: 2px solid #0407f2 !important;
  background: transparent !important;
}

.slick-next:before {
  content: "›" !important;
  margin-left: 18px !important;
  color: #0407f2 !important;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #303030;
  text-decoration: none;
}

button {
  background-color: #0407f2;
  padding: 9px 25px;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none;
}

button:hover {
  background-color: rgba(4, 7, 242, 0.8);
}

.circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 25px;
  left: 28px;
}

.circles .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fc005b;
  margin: 4px;
}

.circles .circle:nth-of-type(2) {
  background: #ffb800;
}

.circles .circle:nth-of-type(3) {
  background: #52ae55;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
}

header .logo {
  cursor: pointer;
  margin-right: auto;
  color: #0407f2;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: -3px;
}

header .nav__links {
  list-style: none;
}

header .nav__links li {
  display: inline-block;
  padding: 0 20px;
}

header .nav__links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header .nav__links li a:hover {
  color: #0407f2;
}

header .cta {
  margin-left: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10%;
  border-top: 1px dashed #d4d4d4;
}

footer .logo {
  cursor: pointer;
  color: #0407f2;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: -3px;
}

footer .nav__links {
  list-style: none;
}

footer .nav__links li {
  display: inline-block;
  padding: 0 20px;
}

footer .nav__links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .nav__links li a:hover {
  color: #0407f2;
}

footer::after {
  content: "🚀";
  font-size: 5em;
}

#sec_01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 10%;
}

@media screen and (max-width: 768px) {
  #sec_01 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

#sec_01 .sec-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#sec_01 .sec-left h1 {
  font-size: 36px;
  color: #303030;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  #sec_01 .sec-left h1 {
    font-size: 22px;
  }
}

#sec_01 .sec-left p {
  font-size: 14px;
  line-height: 28px;
  margin: 40px 40px 50px auto;
}

#sec_01 .sec-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sec_01 .sec-right img {
  max-width: 100%;
  min-width: 500px;
}

@media screen and (max-width: 768px) {
  #sec_01 .sec-right img {
    min-width: 100%;
    margin-top: 40px;
  }
}

#sec_02,
#sec_03 {
  padding: 90px 10%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/995867/blob-shapes.svg"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/995867/blob-shapes.svg");
  background-position: left -140px top 400px, right 70px top 140px;
  background-repeat: no-repeat, no-repeat;
  background-size: 340px, 150px;
}

#sec_02 h1,
#sec_03 h1 {
  font-size: 36px;
  color: #303030;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #sec_02 h1,
  #sec_03 h1 {
    font-size: 22px;
  }
}

#sec_02 p,
#sec_03 p {
  font-size: 21px;
  line-height: 28px;
  text-align: center;
}

#sec_02 .card,
#sec_03 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 300px;
  padding: 2em;
  margin: 2.5em 0.8em;
  border-radius: 8px;
  background-color: #ecedf1;
  -webkit-box-shadow: 0px 11px 70px rgba(86, 86, 86, 0.25);
          box-shadow: 0px 11px 70px rgba(86, 86, 86, 0.25);
}

#sec_02 .card .score,
#sec_03 .card .score {
  padding: 2em;
  -webkit-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

#sec_02 .card .card-left,
#sec_03 .card .card-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 3em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#sec_02 .card .card-left textarea,
#sec_03 .card .card-left textarea {
  width: 100%;
  min-height: 200px;
  padding: 2em;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  background: transparent;
  -webkit-box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff !important;
          box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
  letter-spacing: 0.4px;
  resize: none;
  color: #7f8a97;
}

#sec_02 .card .card-left textarea:focus,
#sec_03 .card .card-left textarea:focus {
  -webkit-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff !important;
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff !important;
}

#sec_02 .card .card-left textarea:active,
#sec_03 .card .card-left textarea:active {
  -webkit-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

#sec_02 .card .card-left textarea::-webkit-input-placeholder,
#sec_03 .card .card-left textarea::-webkit-input-placeholder {
  color: #7f8a97;
}

#sec_02 .card .card-left textarea:-ms-input-placeholder,
#sec_03 .card .card-left textarea:-ms-input-placeholder {
  color: #7f8a97;
}

#sec_02 .card .card-left textarea::-ms-input-placeholder,
#sec_03 .card .card-left textarea::-ms-input-placeholder {
  color: #7f8a97;
}

#sec_02 .card .card-left textarea::placeholder,
#sec_03 .card .card-left textarea::placeholder {
  color: #7f8a97;
}

#sec_02 .card .card-left .play-btn,
#sec_03 .card .card-left .play-btn {
  width: 40px;
  height: 40px;
  background: #0407f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0px;
  margin: 1em;
  z-index: 999;
}

#sec_02 .card .card-left .play-btn span,
#sec_03 .card .card-left .play-btn span {
  color: #fff;
  font-weight: 700;
}

#sec_02 .card .card-right,
#sec_03 .card .card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  height: 100%;
  width: 100%;
}

#sec_02 .card .card-right .emojis,
#sec_03 .card .card-right .emojis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 10px;
  background-color: #ecedf1;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

#sec_02 .card .card-right .emojis .wave,
#sec_03 .card .card-right .emojis .wave {
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  background: #1906f108;
  width: 150px;
  height: 130px;
  -webkit-transform-origin: 50% 48%;
          transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  -webkit-animation: drift 4000ms infinite linear;
          animation: drift 4000ms infinite linear;
}

#sec_02 .card .card-right .emojis .wave.-three,
#sec_03 .card .card-right .emojis .wave.-three {
  -webkit-animation: drift 6000ms infinite linear;
          animation: drift 6000ms infinite linear;
  display: none;
}

#sec_02 .card .card-right .emojis .wave.-two,
#sec_03 .card .card-right .emojis .wave.-two {
  -webkit-animation: drift 8000ms infinite linear;
          animation: drift 8000ms infinite linear;
  opacity: 0.7;
  bottom: 18px;
  background: #1344f23b;
  width: 80px;
  height: 80px;
}

#sec_02 .card .card-right .emojis img,
#sec_03 .card .card-right .emojis img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sec_02 .card .card-right p,
#sec_03 .card .card-right p {
  color: #6f6f6f;
}

#sec_02 .card .card-right .anim1 .emojis,
#sec_02 .card .card-right .anim2 .emojis,
#sec_02 .card .card-right .anim3 .emojis,
#sec_02 .card .card-right .anim4 .emojis,
#sec_02 .card .card-right .anim5 .emojis,
#sec_03 .card .card-right .anim1 .emojis,
#sec_03 .card .card-right .anim2 .emojis,
#sec_03 .card .card-right .anim3 .emojis,
#sec_03 .card .card-right .anim4 .emojis,
#sec_03 .card .card-right .anim5 .emojis {
  -webkit-box-shadow: -5px -5px 10px #fafbff, 5px 5px 7px #a6abbd;
          box-shadow: -5px -5px 10px #fafbff, 5px 5px 7px #a6abbd;
  -webkit-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
}

#sec_02 .card .card-right .anim1 .emoji,
#sec_02 .card .card-right .anim2 .emoji,
#sec_02 .card .card-right .anim3 .emoji,
#sec_02 .card .card-right .anim4 .emoji,
#sec_02 .card .card-right .anim5 .emoji,
#sec_03 .card .card-right .anim1 .emoji,
#sec_03 .card .card-right .anim2 .emoji,
#sec_03 .card .card-right .anim3 .emoji,
#sec_03 .card .card-right .anim4 .emoji,
#sec_03 .card .card-right .anim5 .emoji {
  z-index: 999 !important;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#sec_02 .card .card-right .anim1 .wave,
#sec_02 .card .card-right .anim2 .wave,
#sec_02 .card .card-right .anim3 .wave,
#sec_02 .card .card-right .anim4 .wave,
#sec_02 .card .card-right .anim5 .wave,
#sec_03 .card .card-right .anim1 .wave,
#sec_03 .card .card-right .anim2 .wave,
#sec_03 .card .card-right .anim3 .wave,
#sec_03 .card .card-right .anim4 .wave,
#sec_03 .card .card-right .anim5 .wave {
  bottom: 0;
  background: transparent !important;
  -webkit-transition: all 0.15s linear 0s !important;
  transition: all 0.15s linear 0s !important;
}

#sec_02 .card .card-right .anim1 .wave.-two,
#sec_02 .card .card-right .anim2 .wave.-two,
#sec_02 .card .card-right .anim3 .wave.-two,
#sec_02 .card .card-right .anim4 .wave.-two,
#sec_02 .card .card-right .anim5 .wave.-two,
#sec_03 .card .card-right .anim1 .wave.-two,
#sec_03 .card .card-right .anim2 .wave.-two,
#sec_03 .card .card-right .anim3 .wave.-two,
#sec_03 .card .card-right .anim4 .wave.-two,
#sec_03 .card .card-right .anim5 .wave.-two {
  bottom: 0;
  background: transparent;
  -webkit-transition: all 0.15s linear 0s !important;
  transition: all 0.15s linear 0s !important;
}

#sec_03 {
  background-size: 150px, 340px;
}

#sec_03 .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sec_03 .card .card-right {
  width: 100%;
}

#sec_03 #tags-container {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sec_03 #tags-container span {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #c7c5ef;
  color: #616161;
  padding: 1em 2em;
  margin: 10px;
  border-radius: 50px;
  font-size: 0.8em;
}

#sec_04 {
  padding: 90px 10%;
}

#sec_04 .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 4em 10em;
  padding: 2em 5em;
  position: relative;
  background-color: #1344f2;
  border-radius: 7em;
}

#sec_04 .cta::before {
  content: "MAR";
  font-size: 13em;
  font-weight: 900;
  color: #c8c5ef2b;
  letter-spacing: -0.05em;
  position: absolute;
  top: -300px;
  left: -150px;
}

#sec_04 .cta::after {
  content: "QUILL";
  font-size: 13em;
  font-weight: 900;
  color: #c8c5ef2b;
  letter-spacing: -0.05em;
  position: absolute;
  top: -150px;
  left: -150px;
  z-index: -1;
}

#sec_04 .cta p {
  color: #fff;
}

#sec_04 .cta button {
  -webkit-box-shadow: -5px -5px 10px #3662ff, 5px 5px 7px #032ec7;
          box-shadow: -5px -5px 10px #3662ff, 5px 5px 7px #032ec7;
}

#sec_04 .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sec_04 .logos img {
  width: 200px;
}

#sec_04 .logos .sponsered {
  color: #b7b7b7;
  font-size: 12px;
}

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.color-anim {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

@-webkit-keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */